<%- include('../partials/header') %>
<div class="container mt-5">
    <form method="POST" action="/user">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" placeholder="username" name="user[username]">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" placeholder="password" name="user[password]">
        </div>
        <div class="form-group">
            <label for="confirm">Password Confirmation</label>
            <input class="form-control" id="confirm" name="user[password_confirmation]" placeholder="password">
        </div>
        <button class="btn btn-success">Create Account</button>
    </form>
</div>
<%- include('../partials/footer') %>