<%- include('../partials/header') %>
<div class="container mt-5">
    <form method="POST" action="/blog">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" placeholder="Title" name="blog[title]">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Content</label>
            <textarea name="blog[content]" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
        
        <button class="btn btn-success">Post Blog</button>
    </form>
</div>
<%- include('../partials/footer') %>