<%- include('../partials/header') %>
<div class="container text-center">
    <form method="POST" action="/blog">
        <button class="btn btn-success">Add</button>
    </form>
</div>
<%- include('../partials/footer') %>